Chapter 6 code and figures

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.anova import anova_lm
from matplotlib.pyplot import subplots
from ISLP import load_data
from ISLP.models import (ModelSpec as MS,
                         summarize,
                         poly)

In [2]:
Credit = pd.read_csv('data/Credit.csv')
Credit['Own']=(Credit['Own']=='Yes').astype(int)
Credit['Student']=(Credit['Student']=='Yes').astype(int)
Credit['Married']=(Credit['Married']=='Yes').astype(int)
Credit['South']=(Credit['Region']=='South').astype(int)
Credit['West']=(Credit['Region']=='West').astype(int)
Credit

,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Region,Balance,South,West
0,14.891,3606,283,2,34,11,0,0,1,South,333,1,0
1,106.025,6645,483,3,82,15,1,1,1,West,903,0,1
2,104.593,7075,514,4,71,11,0,0,0,West,580,0,1
3,148.924,9504,681,3,36,11,1,0,0,West,964,0,1
4,55.882,4897,357,2,68,16,0,0,1,South,331,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,0,0,1,South,560,1,0
396,13.364,3838,296,5,65,17,0,0,0,East,480,0,0
397,57.872,4171,321,5,67,12,1,0,1,South,138,1,0
398,37.728,2525,192,1,44,13,0,0,1,South,0,1,0
399,18.701,5524,415,5,64,7,1,0,0,West,966,0,1

First fit the model with all of the predictor variables

In [3]:
y = Credit['Balance']
terms = Credit.columns.drop(['Region','Balance'])
X = MS(terms).fit_transform(Credit)
model = sm.OLS(y, X)
results = model.fit()
# Different ways of summary reseults. The second contains a lot of information.
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Balance   R-squared:                       0.955
Model:                            OLS   Adj. R-squared:                  0.954
Method:                 Least Squares   F-statistic:                     750.3
Date:                Mon, 04 Mar 2024   Prob (F-statistic):          1.11e-253
Time:                        14:19:43   Log-Likelihood:                -2398.7
No. Observations:                 400   AIC:                             4821.
Df Residuals:                     388   BIC:                             4869.
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept   -479.2079     35.774    -13.395      0.000    -549.543    -408.873
Income        -7.8031      0.234    -33.314      0.000      -8.264      -7.343
Limit          0.1909      0.033      5.824      0.000       0.126       0.255
Rating         1.1365      0.491      2.315      0.021       0.171       2.102
Cards         17.7245      4.341      4.083      0.000       9.190      26.259
Age           -0.6139      0.294     -2.088      0.037      -1.192      -0.036
Education     -1.0989      1.598     -0.688      0.492      -4.241       2.043
Own          -10.6532      9.914     -1.075      0.283     -30.145       8.839
Student      425.7474     16.723     25.459      0.000     392.869     458.626
Married       -8.5339     10.363     -0.824      0.411     -28.908      11.841
South         10.1070     12.210      0.828      0.408     -13.899      34.113
West          16.8042     14.119      1.190      0.235     -10.955      44.564
==============================================================================
Omnibus:                       34.899   Durbin-Watson:                   1.968
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.766
Skew:                           0.782   Prob(JB):                     8.52e-10
Kurtosis:                       3.241   Cond. No.                     3.87e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.87e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## Alg 6.2: Forward Stepwise Selection to k = 4 ##

First, see which predictor has the most predictive power

In [4]:
R_squared = []
terms_fixed = []
TSS = np.linalg.norm(y-y.mean())**2
for col in terms:
    X = MS([col]).fit_transform(Credit)
    model = sm.OLS(y, X)
    results = model.fit()
    R_squared.append(1-np.linalg.norm(results.resid)**2/TSS)
    print('term: {}, R_squared: {}'.format(col, R_squared[-1]))

terms_fixed.append(terms[R_squared.index(max(R_squared))])
print(terms_fixed)

term: Income, R_squared: 0.21497731013240484
term: Limit, R_squared: 0.7425221799818016
term: Rating, R_squared: 0.7458484180585037
term: Cards, R_squared: 0.007474700008969104
term: Age, R_squared: 3.3676612274380346e-06
term: Education, R_squared: 6.498901491658327e-05
term: Own, R_squared: 0.00046113296449656893
term: Student, R_squared: 0.06709008988708953
term: Married, R_squared: 3.218849124542178e-05
term: South, R_squared: 1.0813056131042664e-05
term: West, R_squared: 9.62799739034903e-05
['Rating']

Now, add a second predictor to the one computed above

In [5]:
terms.drop(terms_fixed[0]) # remove the first term from the list (the one with the highest R_squared)
R_squared = []
for col in terms: # iterate over the remaining terms
    X = MS([terms_fixed[0],col]).fit_transform(Credit) # add the first term to the current term
    model = sm.OLS(y, X)
    results = model.fit()
    R_squared.append(1-np.linalg.norm(results.resid)**2/TSS)
    print('term: {}, R_squared: {}'.format(col, R_squared[-1]))

terms_fixed.append(terms[R_squared.index(max(R_squared))])
print(terms_fixed)

term: Income, R_squared: 0.8751179476994355
term: Limit, R_squared: 0.745942796101409
term: Rating, R_squared: 0.7458484180585037
term: Cards, R_squared: 0.7474915260521078
term: Age, R_squared: 0.7535447719888835
term: Education, R_squared: 0.7461714278077378
term: Own, R_squared: 0.7460389021078521
term: Student, R_squared: 0.8138489985847958
term: Married, R_squared: 0.7472499974386341
term: South, R_squared: 0.7458540089138774
term: West, R_squared: 0.7463017482302219
['Rating', 'Income']

Add a third predictor

In [18]:
terms.drop(terms_fixed[1])
R_squared = []
for col in terms:
    X = MS([terms_fixed[0],terms_fixed[1],col]).fit_transform(Credit)
    model = sm.OLS(y, X)
    results = model.fit()
    R_squared.append(1-np.linalg.norm(results.resid)**2/TSS)

terms_fixed.append(terms[R_squared.index(max(R_squared))])
print(terms_fixed)

['Rating', 'Income', 'Student']

And finally, add a fourth predictor.

In [19]:
terms = terms.drop(terms[2])
R_squared = []
for col in terms:
    X = MS([terms_fixed[0],terms_fixed[1],terms_fixed[2],col]).fit_transform(Credit)
    model = sm.OLS(y, X)
    results = model.fit()
    R_squared.append(1-np.linalg.norm(results.resid)**2/TSS)

terms_fixed.append(terms[R_squared.index(max(R_squared))])
print(terms_fixed)

['Rating', 'Income', 'Student', 'Limit']

Note that this agrees with Table 6.1