In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# pandas options
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 500)

In [14]:
youtube_data = pd.read_csv('data/global_Youtube_2023.csv')
education_data = pd.read_csv('data/global_education_2023.csv')
country_data = pd.read_csv('data/global_countrydata_2023.csv')

In [24]:
# drop rows where Country is null
youtube_data = youtube_data[youtube_data['Country'].notnull()]

In [27]:
# drop rows where category is null
youtube_data = youtube_data[youtube_data['category'].notnull()]

In [28]:
youtube_data

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,228000000000,Music,T-Series,20082,India,IN,Music,1.0,1.0,1.0,2.258000e+09,564600.0,9000000.00,6800000.00,1.084000e+08,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0,Film & Animation,youtubemovies,1,United States,US,Games,4055159.0,7670.0,7423.0,1.200000e+01,0.0,0.05,0.04,5.800000e-01,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,28368841870,Entertainment,MrBeast,741,United States,US,Entertainment,48.0,1.0,1.0,1.348000e+09,337000.0,5400000.00,4000000.00,6.470000e+07,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,164000000000,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,2.0,1.0,1.975000e+09,493800.0,7900000.00,5900000.00,9.480000e+07,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,148000000000,Shows,SET India,116536,India,IN,Entertainment,3.0,2.0,2.0,1.824000e+09,455900.0,7300000.00,5500000.00,8.750000e+07,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,990,Migos ATL,12400000,6993406259,Music,Migos ATL,99,United States,US,Entertainment,833.0,175.0,171.0,4.941200e+07,12400.0,197600.00,148200.00,2.400000e+06,100000.0,2012.0,Jan,17.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
990,991,Natan por A�,12300000,9029609749,Sports,Natan por A�,1200,Brazil,BR,Entertainment,525.0,55.0,172.0,5.525130e+08,138100.0,2200000.00,1700000.00,2.650000e+07,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1674409945,People & Blogs,Free Fire India Official,1500,India,IN,Games,6141.0,125.0,69.0,6.473500e+07,16200.0,258900.00,194200.00,3.100000e+06,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
993,994,RobTopGames,12300000,374123483,Gaming,RobTopGames,39,Sweden,SE,Games,35112.0,4.0,69.0,3.871000e+06,968.0,15500.00,11600.00,1.858000e+05,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2129773714,Comedy,Make Joke Of,62,India,IN,Comedy,4568.0,125.0,44.0,2.400000e+07,6000.0,96000.00,72000.00,1.200000e+06,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [32]:
# pivot with Country
youtube_data_pivot = youtube_data.pivot_table(index='Country', columns='category', values='views', aggfunc='sum')

                 Country  Youtuber
0            Afghanistan         1
1                Andorra         1
2              Argentina        13
3              Australia         9
4             Bangladesh         1
5               Barbados         1
6                 Brazil        62
7                 Canada        15
8                  Chile         3
9                  China         1
10              Colombia        11
11                  Cuba         1
12               Ecuador         2
13                 Egypt         2
14           El Salvador         1
15               Finland         1
16                France         5
17               Germany         6
18                 India       163
19             Indonesia        27
20                  Iraq         2
21                 Italy         2
22                 Japan         5
23                Jordan         3
24                Kuwait         1
25                Latvia         1
26              Malaysia         1
27                Mexico        33
28               Morocco         1
29           Netherlands         3
30              Pakistan         5
31                  Peru         1
32           Philippines        10
33                Russia        16
34                 Samoa         1
35          Saudi Arabia         9
36             Singapore         2
37           South Korea        15
38                 Spain        22
39                Sweden         3
40           Switzerland         1
41              Thailand        18
42                Turkey         3
43               Ukraine         8
44  United Arab Emirates         5
45        United Kingdom        42
46         United States       291
47             Venezuela         1
48               Vietnam         3